@page "/users/register"
@inject IUserService userService
@inject NavigationManager navManager
@using KevBlog.Contract.DTOs
@using KevBlog.WebClient.Services
<div class="container-xxl py-4">
    <h3>Register New Account</h3>
    <div class="card-body">
        <EditForm Model="RegisterDtoModel" OnValidSubmit="HandleRegistration">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group">
                <label for="email">Email Address</label>
                <InputText class="form-control" @bind-Value="RegisterDtoModel.Email" />
                <ValidationMessage For="@(() => RegisterDtoModel.Email)" />
            </div>
            <div class="form-group">
                <label for="email">UserName</label>
                <InputText class="form-control" @bind-Value="RegisterDtoModel.UserName" />
                <ValidationMessage For="@(() => RegisterDtoModel.UserName)" />
            </div>

            <div class="form-group">
                <label for="text">First Name</label>
                <InputText class="form-control" @bind-Value="RegisterDtoModel.FirstName" />
                <ValidationMessage For="@(() => RegisterDtoModel.FirstName)" />
            </div>
            <div class="form-group">
                <label for="text">Last Name</label>
                <InputText class="form-control" @bind-Value="RegisterDtoModel.LastName" />
                <ValidationMessage For="@(() => RegisterDtoModel.LastName)" />
            </div>

            <div class="form-group">
                <label for="text">Password</label>
                <InputText class="form-control" type="password" @bind-Value="RegisterDtoModel.Password" />
                <ValidationMessage For="@(() => RegisterDtoModel.Password)" />
            </div>
            <button type="submit" class="btn btn-primary btn-block">Register</button>
        </EditForm>
    </div>
</div>



@code {
    RegisterDto RegisterDtoModel = new RegisterDto();

    private async Task HandleRegistration()
    {
        var result = await userService.RegisterNewUser(RegisterDtoModel);
    }
}
